.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 800;
    align-items: center;
    opacity: 0;
    transition: .5s;
    pointer-events: none;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.content {
    transform: scale(.5);
    background-color: var(--white);
    transition: .5s;
    padding: 35px;
    border-radius: 12px;

}

.content.active {
    transform: scale(1);
    pointer-events:visible;
}
.cross{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}