.hero {
    display: flex;
    justify-content: space-evenly;
    margin: 140px 135px 120px 135px;
}

.left_block {
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.left_block p {
    width: 554px;
    color: var(--white);
    font-family: Manrope, serif;
    opacity: .8;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-wrap: wrap;
}

.form {
    width: 630px;
    height: 73px;
}

.email {
    border-radius: 5px 0 0 5px;
    background: var(--black);
    width: 456px;
    height: 73px;
    color: var(--white);
    font-family: Manrope, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 23px;
    border: none;
    outline: none;
}

.get {
    background-color: var(--white);
    border-radius: 0 5px 5px 0;
    width: 174px;
    height: 73px;
    color: var(--black);
    font-family: Manrope, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    cursor: pointer;
    transform: scale(1);
    transition: .5s ease;
    text-align: center;
}

.get:hover {
    transform: scale(1.1);
}

.h3 {
    color: var(--black);
    font-family: Manrope, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.signup {
    display: flex;
    gap: 14px;
    color: var(--white);
    font-family: Manrope, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 37px;
}

.people {
    width: 181px;
    height: 38px;
}

#card {
    display: flex;
    background-image: url("/src/photos/davinci.png");
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform .5s ease;
    height: 665px;
    min-width: 500px;

}

.child1 {
    top: -1330px;
    left: -350px;
}

.child2 {
    top: -963px;
    right: -704px;
}

.child3 {
    right: -704px;
    top: 464px;
}

.child4 {
    left: -348px;
    top: 905px;
}

.blur, .child4, .child3, .child2, .child1 {
    width: 777px;
    height: 777px;
    border-radius: 777px;
    background: var(--white);
    position: absolute;
    z-index: -100;
    filter: blur(70px);
}

@media screen and (max-width: 1480px) {
    .hero {
        scale: .7;
    }
}

@media screen and (max-width: 1024px) {
    .left_block {
        align-items: center;
        margin: 120px 0;
    }

    .hero {
        scale: 1;
        flex-direction: column;
        align-items: center;
        height: 1800px;
        width: 80vw;
        justify-content: center;
        margin: auto;
    }

    #card {
        width: 80vw;
        height: 100vw;
        min-width: unset;
    }


    h1, .desc {
        width: auto;
        flex-wrap: wrap;
        margin: auto;
        text-align: center;
    }

    .left_block p {
        width: auto;
    }

    .form {
        margin: auto;
        width: auto;
    }

    .email {
        width: 42vw;
    }
}

@media screen and (max-width: 481px) {
    .hero {
        width: 92vw;
        margin-bottom: 60px;
        height: auto;
    }

    .get, .email {
        border-radius: 5px;
        width: 92vw;
    }

    .signup {
        flex-direction: column;
        align-items: center;
    }

    #card {
        width: 92vw;
    }

}