.cta {
    width: 82vw;
    height: 172px;
    background: var(--gradient);
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin: 120px 9%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cta_top {
    color: #0E0E0E;
    font-family: Manrope, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.cta_bottom {
    color: #000;
    font-family: Manrope, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 45px;
}

.cta_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.started {
    width: 190px;
    height: 60px;
    border-radius: 40px;
    background: #000;
    display: flex;
    color: #FFF;
    font-family: Manrope, serif;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition: .5s ease;
    border: none;
}


.started:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1480px) {
    .cta_left {
        margin-top: -25px;
        width: 622px;
    }

    .cta {
        height: auto;
        flex-wrap: wrap;
        gap: 20px;
    }
}

@media screen and (max-width: 481px) {
    .cta {
        width: 92vw;
        margin: 120px 4vw;
    }

    .started {
        width: inherit;
    }
}

