.feature {
    display: flex;
    flex-direction: column;
    margin: 120px 135px;
    gap: 100px;
}

.feature_blocks {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-around;

}

.feature_link {
    color: #FF8A71;
    font-family: Manrope, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px
}

.feature_left {
    display: flex;
    flex-direction: column;
    gap: 34px;
    padding-left: 25px;
}

.feature_mid {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.feature_mid_block {
    display: flex;
    flex-direction: row;
    gap: 55px;
}

.feature_text {
    color: #FFF;
    font-family: Manrope, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.72px;
    width: 172px;
}

.feature_right {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.feature_right_block {
    color: #81AFDD;
    font-family: Manrope, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    width: 334px;
    height: 92px;
}

.feature_mid_block_mid {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.message {
    position: absolute;
    background: var(--blue);
    width: 75px;
    height: 75px;
    border-radius: 16px;
    right: 78%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 300;
}

.message svg {
    width: 38px;
    height: 38px;
    z-index: 300;
}

.apps {
    width: 174px;
    height: 75px;
    border-radius: 17px;
    position: absolute;
    left: 30%;
    margin-top: 127px;
    display: flex;
    background: #FF8A71;
    justify-content: center;
    align-items: center;
    gap: 15px;
    z-index: 100;
}

.apps p {
    color: #FFF;
    font-family: Manrope, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.photo {
    width: 590px;
    height: 608px;
    z-index: 200;
    position: absolute;
}

.photo2 {
    width: 590px;
    height: 608px;
    z-index: 100;
    position: absolute;
}

.left_down {
    display: flex;
    width: 479px;
    padding: 250px 0 0 20px;
    gap: 20px;
    flex-direction: column;
    z-index: 400;
}

.left_text {
    color: #81AFDD;
    font-family: Manrope, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.explore {
    color: #FF8A71;
    font-family: Manrope, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.photos {
    display: flex;
    width: 546px;
    height: 608px;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

@media screen and (max-width: 1480px) {
    .apps {
        left: 39%;
        z-index: 300;
    }

    .feature_blocks {
        flex-direction: column;
        align-items: center;
    }

    .feature_left {
        width: auto;
    }

    .feature_mid_block {
        flex-wrap: wrap
    }

    .photos {
        position: static;
        justify-content: center;
        margin: 0 9%;
        right: 0;
    }
    .photos img{
        width: 70vw;

    }
    .features{
        flex-wrap: wrap;
    }
    .apps,.message{
        display: none;
    }
    .left_down{
        padding: 50px 0 0 0;
        
    }
    .feature_left{
        width: 85.6vw;
    }

}
@media screen and (max-width: 481px){
    .photos{
        height: 80vw;
    }
    .feature_mid{
        width: 80vw;
    }
    .photos img{
        height: auto;
        margin: 0 9%;
        right: 0;
    }
}