.feature {
    display: flex;
    flex-direction: column;
    margin: 120px 135px;
    gap: 100px;
}

.feature_blocks {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-around;

}

.feature_link {
    color: var(--white);
    opacity: .9;
    font-family: Manrope, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px
}

.feature_left {
    display: flex;
    flex-direction: column;
    gap: 34px;
    padding-left: 25px;
}

.feature_mid {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.feature_mid_block {
    display: flex;
    flex-direction: row;
    gap: 55px;
}

.feature_text {
    color: var(--white);
    font-family: Manrope, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.72px;
    width: 172px;
}

.feature_right {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.feature_right_block {
    color: var(--white);
    opacity: .8;
    font-family: Manrope, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    width: 334px;
    height: 92px;
}

.feature_mid_block_mid {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.left_down {
    display: flex;
    width: 479px;
    gap: 20px;
    flex-direction: column;
    z-index: 400;
}

.left_text {
    color: var(--white);
    opacity: .8;
    font-family: Manrope, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.explore {
    color: var(--white);
    opacity: .9;
    font-family: Manrope, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.photos {
    display: flex;
    z-index: 200;
}

.features {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 50px;

}

@media screen and (max-width: 1480px) {


    .feature_blocks {
        flex-direction: column;
        align-items: center;
    }

    .feature_left {
        width: auto;
    }

    .feature_mid_block {
        flex-wrap: wrap
    }

    .photos {
        position: static;
        justify-content: center;
        margin: 0 9%;
        right: 0;
    }

    .photos img {
        width: 70vw;

    }

    .features {
        flex-wrap: wrap;
    }

    .left_down {
        padding: 50px 0 0 0;

    }

    .feature_left {
        width: 85.6vw;
    }

}

@media screen and (max-width: 481px) {
    .photos {
        height: 80vw;
    }

    .feature_mid {
        width: 80vw;
    }

    .photos img {
        height: auto;
        margin: 0 9%;
        right: 0;
    }
}