.about {
    background-image: url("/src/photos/rectangle.svg");
    width: 82.6vw;
    padding: 60px;
    margin: 120px 9%;
    gap: 95px;
    display: flex;
    flex-direction: column;
    background-position: center;
    transition: background-image .5s ease-out;
    background-size: cover;
}

.about:hover {
    background-size: cover;
    background-position: center;
    background-image: url("/src/photos/garl.png");
    transition: background-image .5s ease;
}


.about_top_left {
    display: flex;
    flex-direction: column;
}

.about_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.about_top_logo {
    color: var(--white);
    font-family: Manrope, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 75px;
    letter-spacing: -0.96px;
}

.about_top_text {
    width: 717px;
    height: 92px;
    flex-shrink: 0;
    color: var(--white);
    opacity: .8;
    font-family: Manrope, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.about_mid {
    display: flex;
    justify-content: space-between;
}

.about_mid_link {
    color: var(--white);
    font-family: Manrope, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;

}

.about_lower {
    display: flex;
    flex-direction: row;
    gap: 43px;
    justify-content: space-between;
}

.about_lower_block {
    max-width: 334px;
    gap: 26px;
    display: flex;
    flex-direction: column;
}

.about_lower_text {
    color: var(--white);
    opacity: .8;
    font-family: Manrope, serif;
    font-size: 16px;
    max-width: 300px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

@media screen and (max-width: 1480px) {
    .about_lower {
        gap: 25px;
    }

    .about_lower_text {
        max-width: 230px;
    }

    .about_top {
        align-items: flex-start;
        flex-direction: column;
    }

    .about_menu {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        position: relative;
        cursor: pointer;
    }

    .about_top_text {
        max-width: 320px;
        height: auto;
    }

    .about_lower {
        flex-wrap: wrap
    }

    .about_mid {
        flex-direction: column;
    }

    h2 {
        width: auto;
    }

}

@media screen and (max-width: 481px) {
    .about_top_text {
        width: auto;
    }

    .about {
        padding: 30px;
        width: 92vw;
        margin: 0 4vw;
    }
    .about:hover{
        background-image: url("/src/photos/rectangle.svg");
        flex-direction: column;
        background-position: center;
    }
    .about_mid_link{
        display: none;
    }

    .about_lower_text, .about_lower_block, .about_top_text {
        min-width: 80vw;
    }

}
