.gpt{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: var(--blue);
    width: 78.6vw;
    padding: 60px ;
    margin: 120px 9%;
    gap: 95px;
    display: flex;
    flex-direction: column;
}
.gpt_top_left{
    display: flex;
    flex-direction: column;
    background: var(--blue);
}
.gpt_top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
.gpt_top_logo{
    color: #FFF;
    font-family: Manrope, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 75px;
    letter-spacing: -0.96px;
    background: var(--blue);
}
.gpt_top_text{
    width: 717px;
    height: 92px;
    flex-shrink: 0;
    color: #81AFDD;
    font-family: Manrope, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    background: var(--blue);
    line-height: 30px;
}

.gpt_mid{
    display: flex;
    justify-content: space-between;
    background: var(--blue);
}

.gpt_mid_link{
    color: #FF8A71;
    font-family: Manrope, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    background: var(--blue);

}
.gpt_lower{
    display: flex;
    flex-direction: row;
    gap: 43px;
    background: var(--blue);
    justify-content: space-between;
}

.gpt_lower_block{
    max-width: 334px;
    gap: 26px;
    display: flex;
    flex-direction: column;
    background: var(--blue);


}
.gpt_lower_text{
    color: #81AFDD;
    font-family: Manrope, serif;
    font-size: 16px;
    max-width: 300px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    background: var(--blue);

}