.blog {
    display: flex;
    margin: 120px 9%;
    flex-direction: column;
    gap: 115px;
}

.blog_windows {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 45px;
    grid-row-gap: 50px;
    justify-items: center;
}

#one {
    grid-column: 1;
    grid-row: 1 / 3;
    width: 33vw;
    display: flex;
    height: 100%;
    flex-direction: column;
}

#two {
    grid-column: 2;
    grid-row: 1;
}

#three {
    grid-column: 2 / 3;
    grid-row: 2;
}

#four {
    grid-column: 3;
    grid-row: 1;
}

#five {
    grid-column: 3 / 4;
    grid-row: 2;

}

#two, #three, #four, #five {
    width: 22vw;
}

.blog_block {
    min-height: 200px;
    height: inherit;
    background: var(--black);
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 35px;
    justify-content: space-between;
    transform: rotateY(0deg);
    transition: 1s ease;
    position: relative;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.blog_block:hover {
    transform: rotateY(180deg);
}

.back {
    transform: rotateY(180deg);
    background-color: var(--black);
    position: absolute;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    padding: 30px;
    font-family: Manrope, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    height: 100%;
    color: var(--white);
}

.back:hover {
    animation-duration: 12s;
}

.time {
    color: #FFF;
    font-family: Manrope, serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
}

.text {
    color: #FFF;
    font-family: Manrope, serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
}

.blog_windows img:hover {
    transform: translateY(-20px);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 84px 0 var(--white);
}

.blog_windows img {
    transform: translateY(0px);
    transition: 1s all;
    width: 100%;
    background: var(--black);
}

@media screen and (max-width: 1480px) {
    .blog_windows {
        width: 260px;
        justify-content: center;
        grid-template-rows: minmax(335px, 1fr);
        grid-row-gap: 45px;
    }

    .blog {
        align-items: center;
        height: 1300px;
        margin: 120px 0;

    }

    #one, #one img, #two, #three, #four, #five {
        width: 328px;
        height: auto;

    }

    #one {
        grid-column: 1;
        height: 716.5px;
    }

    #two {
        grid-column: 2;
        grid-row: 1;
    }

    #three {
        grid-column: 2;
        grid-row: 2;
    }

    #four {
        grid-column: 1;
        grid-row: 3;
    }

    #five {
        grid-column: 2;
        grid-row: 3;

    }
}

@media screen and (max-width: 1024px) {
    .blog_block {
        width: 100%;
        height: auto;
        padding: 50px;
        gap: 35px;
        box-sizing: border-box;
    }

    .blog_windows {
        grid-template-columns: repeat(1, 1fr);
        height: auto;
    }

    .blog {
        margin: 120px 9%;
        height: auto;
    }

    #one, #one img, #two, #three, #four, #five {
        width: 328px;
        height: auto;

    }

    #one {
        grid-column: 1;
        grid-row: 1;
        height: 465px;
    }

    #two {
        grid-column: 1;
        grid-row: 2;
    }

    #three {
        grid-column: 1;
        grid-row: 3;
    }

    #four {
        grid-column: 1;
        grid-row: 4;
    }

    #five {
        grid-column: 1;
        grid-row: 5;

    }

}

@media screen and (max-width: 481px) {
    .blog h1 {
        font-size: 34px;
        line-height: 45px;
    }

    #one {
        height: auto;

    }

    #one, #two, #three, #four, #five, #one img, #two img, #three img, #four img, #five img {
        width: 92vw;
        height: auto;
    }

    .blog_block {
        padding: 20px;
        height: 220px;
    }

    .blog {
        width: 92vw;
        margin: 120px 4vw;
    }
}