*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
:root{
  background: #040C18;
  scrollbar-color: var(--rainbow) #181818 ;
  --red: #FF4820;
  --blue: #042C54;
  --rainbow : linear-gradient(103deg, #AE67FA -13.86%, #F49867 99.55%), #FFF;
}
::-webkit-scrollbar{
  background: #181818;
  width: .5vw;
}
::-webkit-scrollbar-thumb{
  background:  var(--rainbow);
  border-radius: 12px;
}
h1{
  font-family: Manrope, serif;
  font-size: 62px;
  font-style: normal;
  font-weight: 800;
  line-height: 75px;
  letter-spacing: -2.48px;
  background: var(--rainbow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 646px;
}
h2{
  font-family: Manrope, serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 800;
  line-height: 45px;
  width: 472px;
  background: var(--rainbow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.small_div{
  width: 38px;
  height: 3px;
  background: var(--rainbow)
}
