.nav {
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    display: flex;
    padding: 35px 135px 35px 135px;
    z-index: 1000;
    transition: 1s ease;
    width: 100vw;
    background: var(--black);
    box-shadow: 0 4px 84px 0 rgba(0, 0, 0, 0.20);

}

.navigation {
    height: 25px;
    display: flex;
    gap: 40px;
    width: 566px;
    justify-content: space-between;
}

.navigation nav, .sing, .but {
    color: var(--white);
    font-family: Manrope, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.logo {
    width: 62px;
    height: 16px;
}

.sing {
    width: 235px;
    height: 58px;
    display: flex;
    gap: 26px;
    align-items: center;
}

.but {
    width: 152px;
    height: 58px;
    color: var(--black);
    background-color: var(--white);
    border: none;
    border-radius: 5px;
}


.nav_open, .nav_close {
    display: none;
}

@media screen and (max-width: 1480px) {
    .nav {
        padding: 50px 50px;
    }
}

@media screen and (max-width: 1024px) {
    .sing {
        display: none;
    }

    header .nav_open, .nav_close {
        display: block;
        border: none;
        background: transparent;
    }

    header .navigation {
        position: fixed;
        top: -120vh;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        transition: .5s ease-in-out;
        background: var(--gradient);
        z-index: 500;
    }

    .nav .responsive_nav {
        transform: translateY(120vh);
        transition: 1s ease;
        background: var(--gradient);
        z-index: 500;
    }

    .navigation .nav_open {
        position: absolute;
        top: 30px;
        right: 50px;
    }
}