.nav {
    justify-content: space-between;
    align-items: center;
    height: 58px;
    display: flex;
    padding: 35px 135px 0 135px;
}

.navigation {
    height: 25px;
    display: flex;
    gap: 40px;
    width: 566px;
    justify-content: space-between;
}

.navigation nav, .sing, .but, .sing_menu, .butt {
    color: #FFF;
    font-family: Manrope, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.logo {
    width: 62px;
    height: 16px;
}

.sing, .sing_menu {
    width: 235px;
    height: 58px;
    display: flex;
    gap: 26px;
    align-items: center;
}

.but, .butt {
    width: 152px;
    height: 58px;
    background-color: var(--button);
    border: none;
    border-radius: 5px;
}

.sing_menu{
    scale: 1.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.butt {
    box-sizing: border-box;
    padding: 16px;
}

.gpt_menu_open {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88vw;
    max-width: 88vw;
    flex-direction: column;
    text-align: end;
    background: var(--blue);
    position: absolute;
    right: 0;
    z-index: 400;
    top: 40px;
    margin-top: 12px;
    height: 650px;
    padding: 30px 0 120px 0;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-1200px);
    animation: out 1s ease forwards;
}
.nav_open, .nav_close{
    display: none;
}
@media screen and (max-width: 1480px) {
    .nav {
        padding: 50px 50px;
    }
}

@media screen and (max-width: 1024px){
    .sing{
        display: none;
    }
    header .nav_open,.nav_close {
        display: block;
        border: none;
        background: transparent;
    }

    header .navigation {
        position: fixed;
        top: -120vh;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        transition: .5s ease-in-out;
        background: var(--gradient);
        z-index: 500;
    }

    .nav .responsive_nav {
        transform: translateY(100vh);
        transition: 1s ease;
        background: var(--gradient);
        z-index: 500;
    }

    .navigation .nav_open {
        position: absolute;
        top: 30px;
        right: 50px;
    }
}