@media screen and (max-width: 1480px) {
    .hero {
        scale: .7;
    }

    .nav {
        padding: 35px 60px !important;
    }

    .apps {
        left: 39% !important;
        z-index: 300!important;
    }

    .gpt_lower {
        gap: 25px;
    }

    .gpt_lower_text {
        max-width: 230px;
    }

    .gpt_top {
        align-items: flex-start;
        flex-direction: column;

    }

    .gpt_top_text {
        width: 0;
    }
    .feature_blocks{
        flex-direction: column !important;
        align-items: center;
    }
    .cta_left{
        margin-top: -25px;
        width: 622px;
    }
    .footer_blocks{
        margin: 0 60px;
    }
    .blog{
        scale: .8;
        margin: 120px 0!important;
    }
}